body {background-color: beige;}

ul {list-style-type: none; list-style-position: inside}
li {margin: 12px; font-size: 16px;}
p, h1, table, ul {text-align: center;}

#twins {background-image: url(../../SiteA/pics/AH/Centrecollegeseal.png); background-repeat: no-repeat; background-position: center;}


#ComputerScience {font-family: sans-serif;}


#Math {font-family: fantasy;}
th#Math {text-transform: capitalize;}

#art {font-family: Monotype Corsiva, cursive;}
table#art {font-size: 19px;}


h1#Econ {font-size: 40px;}
p {font-size: 22px;}
table#Econ {font-size: 18px;}

#twins {font-size: 20px;}