body {background-color: beige;}

ul {list-style-type: none; width: 860;}
li {margin: 12px;}
p, h1, table, ul {text-align: center;}



#ComputerScience {font-family: sans-serif;}


#Math {font-family: fantasy;}
th#Math {text-transform: capitalize;}

#art {font-family: Monotype Corsiva, cursive;}
table#art {font-size: 19px;}


h1#Econ {font-size: 40px;}
p {font-size: 22px;}
table#Econ {font-size: 18px;}

#twins {font-size: 20px;}